body{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

.mainbody{
  display: flex;
  margin: 0;
  height: 100vh;
}
.all-messages-column{
  padding: 10px;
}

.all-messages-column{
  flex: 2;
  border-right: 1px solid lightgrey;
  display: flex;
  flex-direction: column;
}
.all-messages-title-box{
  display: flex;
  align-items: center;
  height: 50px;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}
.all-messages-title{
  font-size: 22px;
  font-weight: 700;
}
.new-message-button{
  background-color: rgb(234, 234, 234);
  display: flex;
  border-radius: 100%;
  padding: 4px;
  transition: 0.15s;
}
.new-message-button:hover{
  background-color: lightgray;
  cursor: pointer;
}
.chats-search-box{
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 20px 0 20px;
}
.chats-search{
  width: 100%;
  height: 30px;
  border: none;
  background-color: rgb(234,234,234);
  font-size: 16px;
  border-radius: 19px;
  padding: 5px 5px 5px 10px;
  outline: none;
}
.list-of-chats{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
.chat-box{
  height: 70px;
  display: flex;
  align-items: center;
  padding: 5px;
  margin: 5px 0 5px 0;
  border-radius: 10px;
  transition: 0.1s;
}
.chat-box:hover{
  cursor: pointer;
  background-color: rgb(234, 234, 234);
}
.chat-box:active{
  cursor: pointer;
  background-color: rgb(220, 220, 220);
}
.chat-box-left{
  width: 1fr;
}
.chat-box-right{
  width: 1fr;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}
.profile-pic{
  width: 50px;
  height: 50px;
  margin: 5px;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-image{
  max-width: 100%;
  max-height: 100%;
  object-fit:contain;
  transform: scale(1.2);
}
.chat-box-recent{
  max-width: 100%;
  height: 20px;
}
/* -------------conversation section--------------------- */
.conversation-column{
  flex: 5;
  border-right: 1px solid lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.conversation-title-box, .conversation-messages-box, .add-message-box{
  width: 100%;
}
.conversation-title-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  border-bottom: 1px solid lightgray;
}

.conversation-title-left-box{
  display: flex;
  align-items: center;
  margin-left: 10px;
  padding: 0 10px 0 10px;
  border-radius: 10px;
  margin: 5px 0 5px 10px;
  transition: 0.15s;
}
.conversation-title-left-box:hover{
  background-color: rgb(234, 234, 234);
  cursor: pointer;
}
.conversation-title-left-box:active{
  background-color: rgb(220, 220, 220);
  cursor: pointer;
}
.conversation-title-right-box{
  display: flex;
  align-items: center;
  padding-right: 20px;
}
.conversation-title-box-profile-pic{
  width: 40px;
  height: 40px;
  margin: 5px 15px 5px 5px;
  border-radius: 100%;
  overflow: hidden;
}
.call-icon-background, .video-icon-background, .settings-icon-background{
  display: flex;
  align-items: center;
  border-radius: 50%;
  padding: 3px;
  margin-left: 10px;
}
.conversation-title-right-box img{
  padding: 5px;
}
.conversation-icon:hover{
  cursor: pointer;
  background-color: rgb(234, 234, 234);
}
.conversation-icon:active{
  cursor: pointer;
  background-color: rgb(220, 220, 220);
}

/* ----------main conversation section----------- */
.conversation-messages-box{
  height: 100%;
  overflow: auto;
}
.message-box{
  display: flex;
  margin: 0 10px 0 10px
}
.message-box:last-child{
  margin-bottom: 10px;
}
.sent-message-box{
  justify-content: end;
}

.message{
  width:fit-content;
  padding: 10px;
  margin: 5px 10px 5px 10px;
  border-radius: 15px;
  max-width: 500px;
  font-size: 15px;
}
.sent-message{
  background-color: rgb(55, 140, 237);
  color: white;
}
.received-message{
  background-color: rgb(234, 234, 234);
}

/* -------------add message section----------------- */
.add-message-box{
  height: 60px;
  border-top: 1px solid lightgray;
  display: flex;
  align-items: center;
}
.add-message-left-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(220, 220, 220);
  border-radius: 100px;
  padding: 5px;
  margin-left: 20px;
  margin-right: 10px;
  height: 30px;
  width: 92%
}
.send-message-input{
  border: none;
  background-color: rgba(0,0,0,0);
  font-size: 16px;
  padding-left: 8px;
  outline: none;
  width: 90%
}
.add-message-box img:hover{
  cursor: pointer;
}
.add-message-right-section{
  display: flex;
  align-items: center;
}
.send-icon-background{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 100%;
}
.send-icon-background:hover{
  background-color: rgb(234, 234, 234);
}
.send-icon-background:active{
  background-color: rgb(220, 220, 220);
}
/* ---------------contact section--------------- */
.contact-column{
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-column-top{
  height: 125px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.contact-column-profile-pic{
  width: 80px;
  height: 80px;
  margin: 5px;
  border-radius: 100%;
  overflow: hidden;
}
.contact-column-name{
  font-size: 19px;
  font-weight: 500;
}
.contact-column-name:hover{
  text-decoration: underline;
  cursor: pointer;
}

.contact-column-middle{
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.profile-box, .mute-box, .search-box{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icon-background{
  background-color: rgb(234, 234, 234);
  display: flex;
  border-radius: 100%;
  padding: 4px;
  margin-bottom: 8px;
}
.icon-background:hover{
  cursor:pointer;
  background-color: rgb(220, 220, 220);
}
.icon-caption{
  font-size: 14px;
}

.contact-column-bottom{
  margin-top: 20px;
  width: 90%;
}
.contact-column-bottom-box{
  height: 30px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  border-radius: 10px;
  padding: 5px 0 5px 10px;
  transition: 0.15s;
  font-weight: 500;
}
.contact-column-bottom-box:hover{
  background-color: rgb(234, 234, 234);
  cursor: pointer;
}
